@model UserListEdit
@{
    Layout = "_StaticLayout";
    ViewData["Title"] = "Login";
}
<style>
    .wrapper{
        width:300px;
        margin:auto;
    }
</style>

<form asp-action="Login">
   <div class="wrapper">
        <div class="relative mb-2">
            <input asp-for="EmailAddress" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
            <label asp-for="EmailAddress" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"></label>           
        </div>
        <span asp-validation-for="EmailAddress" class="text-red-400"></span>
        <div class="relative mb-2">
            <input asp-for="UserPassword" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
            <label asp-for="UserPassword" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"></label>            
        </div>
        <span asp-validation-for="UserPassword" class="text-red-400"></span>
        <div class="my-3">
            <input type="submit" class="py-2 w-full px-4 text-white bg-blue-600 hover:bg-blue-800 rounded-lg focus:ring-blue-300 focus:outline-none focus:ring" value="Login" />
            <a asp-action="ForgotPassword" asp-controller="Account">Forgot Password ?</a>
        </div>
    </div>
</form>